USE [master]
GO
/****** Object:  Database [FanshaweDroneShare]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE DATABASE [FanshaweDroneShare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FanshaweDroneShare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.INFO5052\MSSQL\DATA\FanshaweDroneShare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FanshaweDroneShare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.INFO5052\MSSQL\DATA\FanshaweDroneShare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FanshaweDroneShare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FanshaweDroneShare]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[PrimaryPilotID] [int] NOT NULL,
	[AccountNumber] [char](20) NOT NULL,
	[CurrentBalance] [money] NOT NULL,
	[AccountOpenDate] [date] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[PostalCode] [char](6) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DroneEquipment]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DroneEquipment](
	[DroneEquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[HomeStationID] [int] NOT NULL,
	[CurrentStationID] [int] NOT NULL,
	[PilotID] [int] NULL,
	[EquipmentTypeID] [int] NULL,
	[TransportCanadaIdentMarking] [nvarchar](80) NULL,
	[ModelID] [int] NULL,
	[Weight] [int] NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[ManufacturedDate] [datetime] NULL,
 CONSTRAINT [PK_DroneEquipment] PRIMARY KEY CLUSTERED 
(
	[DroneEquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentType]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentType](
	[EquipmentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EquipmentType] PRIMARY KEY CLUSTERED 
(
	[EquipmentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](80) NOT NULL,
	[ManufacturerID] [int] NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilot]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilot](
	[PilotID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[TransportCanadaCertNumber] [nvarchar](80) NOT NULL,
	[PilotSIN] [char](9) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_Pilot] PRIMARY KEY CLUSTERED 
(
	[PilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PilotAccount]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PilotAccount](
	[PilotAccountID] [int] IDENTITY(1,1) NOT NULL,
	[PilotID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[PilotAccountStartDate] [date] NOT NULL,
 CONSTRAINT [PK_PilotAccount] PRIMARY KEY CLUSTERED 
(
	[PilotAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PilotAddress]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PilotAddress](
	[PilotAddressID] [int] IDENTITY(1,1) NOT NULL,
	[PilotID] [int] NOT NULL,
	[AddressID] [int] NOT NULL,
	[PilotAddressStartDate] [date] NOT NULL,
 CONSTRAINT [PK_PilotAddress] PRIMARY KEY CLUSTERED 
(
	[PilotAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 2024-10-03 1:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](50) NOT NULL,
	[MaxCapacity] [int] NOT NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account_AccountNumber]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Account_AccountNumber] ON [dbo].[Account]
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_PrimaryPilotID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Account_PrimaryPilotID] ON [dbo].[Account]
(
	[PrimaryPilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Address_City]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Address_City] ON [dbo].[Address]
(
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Address_Province_City]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Address_Province_City] ON [dbo].[Address]
(
	[Province] ASC,
	[City] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DroneEquipment_CurrentStationID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DroneEquipment_CurrentStationID] ON [dbo].[DroneEquipment]
(
	[CurrentStationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DroneEquipment_EquipmentTypeID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DroneEquipment_EquipmentTypeID] ON [dbo].[DroneEquipment]
(
	[EquipmentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DroneEquipment_HomeStationID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DroneEquipment_HomeStationID] ON [dbo].[DroneEquipment]
(
	[HomeStationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DroneEquipment_ModelID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DroneEquipment_ModelID] ON [dbo].[DroneEquipment]
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DroneEquipment_PilotID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DroneEquipment_PilotID] ON [dbo].[DroneEquipment]
(
	[PilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DroneEquipment_SerialNumber]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DroneEquipment_SerialNumber] ON [dbo].[DroneEquipment]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Model_ManufacturerID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Model_ManufacturerID] ON [dbo].[Model]
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pilot_TransportCanadaCertNumber]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Pilot_TransportCanadaCertNumber] ON [dbo].[Pilot]
(
	[TransportCanadaCertNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PilotAccount_AccountID_PilotID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_PilotAccount_AccountID_PilotID] ON [dbo].[PilotAccount]
(
	[AccountID] ASC,
	[PilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PilotAccount_PilotID_AccountID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_PilotAccount_PilotID_AccountID] ON [dbo].[PilotAccount]
(
	[PilotID] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PilotAddress_AddressID_PilotID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_PilotAddress_AddressID_PilotID] ON [dbo].[PilotAddress]
(
	[AddressID] ASC,
	[PilotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PilotAddress_PilotID_AddressID]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_PilotAddress_PilotID_AddressID] ON [dbo].[PilotAddress]
(
	[PilotID] ASC,
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Station_StationName]    Script Date: 2024-10-03 1:18:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Station_StationName] ON [dbo].[Station]
(
	[StationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_CurrentBalance]  DEFAULT ((0.00)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_AccountOpenDate]  DEFAULT (getdate()) FOR [AccountOpenDate]
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_City]  DEFAULT ('London') FOR [City]
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_Province]  DEFAULT ('Ontarion') FOR [Province]
GO
ALTER TABLE [dbo].[PilotAddress] ADD  CONSTRAINT [DF_PilotAddress_StartDate]  DEFAULT (getdate()) FOR [PilotAddressStartDate]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Pilot] FOREIGN KEY([PrimaryPilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Pilot]
GO
ALTER TABLE [dbo].[DroneEquipment]  WITH CHECK ADD  CONSTRAINT [FK_DroneEquipment_EquipmentTypeID] FOREIGN KEY([EquipmentTypeID])
REFERENCES [dbo].[EquipmentType] ([EquipmentTypeID])
GO
ALTER TABLE [dbo].[DroneEquipment] CHECK CONSTRAINT [FK_DroneEquipment_EquipmentTypeID]
GO
ALTER TABLE [dbo].[DroneEquipment]  WITH CHECK ADD  CONSTRAINT [FK_DroneEquipment_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Model] ([ModelID])
GO
ALTER TABLE [dbo].[DroneEquipment] CHECK CONSTRAINT [FK_DroneEquipment_Model]
GO
ALTER TABLE [dbo].[DroneEquipment]  WITH CHECK ADD  CONSTRAINT [FK_DroneEquipment_Pilot] FOREIGN KEY([PilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[DroneEquipment] CHECK CONSTRAINT [FK_DroneEquipment_Pilot]
GO
ALTER TABLE [dbo].[DroneEquipment]  WITH CHECK ADD  CONSTRAINT [FK_DroneEquipment_Station_Current] FOREIGN KEY([CurrentStationID])
REFERENCES [dbo].[Station] ([StationID])
GO
ALTER TABLE [dbo].[DroneEquipment] CHECK CONSTRAINT [FK_DroneEquipment_Station_Current]
GO
ALTER TABLE [dbo].[DroneEquipment]  WITH CHECK ADD  CONSTRAINT [FK_DroneEquipment_Station_Home] FOREIGN KEY([HomeStationID])
REFERENCES [dbo].[Station] ([StationID])
GO
ALTER TABLE [dbo].[DroneEquipment] CHECK CONSTRAINT [FK_DroneEquipment_Station_Home]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Manufacturer] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturer] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Manufacturer]
GO
ALTER TABLE [dbo].[PilotAccount]  WITH CHECK ADD  CONSTRAINT [FK_PilotAccount_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[PilotAccount] CHECK CONSTRAINT [FK_PilotAccount_Account]
GO
ALTER TABLE [dbo].[PilotAccount]  WITH CHECK ADD  CONSTRAINT [FK_PilotAccount_Pilot] FOREIGN KEY([PilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[PilotAccount] CHECK CONSTRAINT [FK_PilotAccount_Pilot]
GO
ALTER TABLE [dbo].[PilotAddress]  WITH CHECK ADD  CONSTRAINT [FK_PilotAddress_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[PilotAddress] CHECK CONSTRAINT [FK_PilotAddress_Address]
GO
ALTER TABLE [dbo].[PilotAddress]  WITH CHECK ADD  CONSTRAINT [FK_PilotAddress_Pilot] FOREIGN KEY([PilotID])
REFERENCES [dbo].[Pilot] ([PilotID])
GO
ALTER TABLE [dbo].[PilotAddress] CHECK CONSTRAINT [FK_PilotAddress_Pilot]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_AccountOpenDate] CHECK  (([AccountOpenDate]<=getdate()))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_AccountOpenDate]
GO
ALTER TABLE [dbo].[DroneEquipment]  WITH CHECK ADD  CONSTRAINT [CK_ManufacturedDate] CHECK  (([ManufacturedDate]<=getdate()))
GO
ALTER TABLE [dbo].[DroneEquipment] CHECK CONSTRAINT [CK_ManufacturedDate]
GO
ALTER TABLE [dbo].[DroneEquipment]  WITH CHECK ADD  CONSTRAINT [CK_Weight_Non_Negative] CHECK  (([Weight]>=(0)))
GO
ALTER TABLE [dbo].[DroneEquipment] CHECK CONSTRAINT [CK_Weight_Non_Negative]
GO
ALTER TABLE [dbo].[Station]  WITH CHECK ADD  CONSTRAINT [CK_MaxCapacity_Non_Negative] CHECK  (([MaxCapacity]>=(0)))
GO
ALTER TABLE [dbo].[Station] CHECK CONSTRAINT [CK_MaxCapacity_Non_Negative]
GO
USE [master]
GO
