USE [FanshaweDroneShare]
GO
/****** Object:  Table [dbo].[Accessories]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessories](
	[Accessory_ID] [int] NOT NULL,
	[Manufacturer_Name] [varchar](50) NOT NULL,
	[Weight_Grams] [int] NOT NULL,
	[Model_Name] [varchar](50) NOT NULL,
	[Serial_Number] [int] NOT NULL,
	[Manufactured_Date] [date] NULL,
	[Home_Station_ID] [int] NOT NULL,
	[Current_Station_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Accessory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Account_ID] [int] NOT NULL,
	[Opening_Date] [date] NOT NULL,
	[Current_Balance] [money] NOT NULL,
	[Account_Number] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Account_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Address_ID] [int] NOT NULL,
	[Pilot_ID] [int] NOT NULL,
	[Street_Address] [varchar](50) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Province] [varchar](20) NOT NULL,
	[Postal_Code] [varchar](7) NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkouts]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkouts](
	[Checkout_ID] [int] NOT NULL,
	[Pilot_ID] [int] NOT NULL,
	[Drone_ID] [int] NULL,
	[Accessory_ID] [int] NULL,
	[Checkout_Date] [date] NOT NULL,
	[Return_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Checkout_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drones]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drones](
	[Drone_ID] [int] NOT NULL,
	[Manufacturer_Name] [varchar](50) NOT NULL,
	[Weight_Grams] [int] NOT NULL,
	[Model_Name] [varchar](50) NOT NULL,
	[Serial_Number] [int] NOT NULL,
	[Manufactured_Date] [date] NULL,
	[Home_Station_ID] [int] NOT NULL,
	[Current_Station_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Drone_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilot_Accounts]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilot_Accounts](
	[PA_ID] [int] NOT NULL,
	[Pilot_ID] [int] NOT NULL,
	[Account_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pilots]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pilots](
	[Pilot_ID] [int] NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[Pilot_CN] [nchar](8) NOT NULL,
	[SIN] [nchar](10) NOT NULL,
	[Date_Of_Birth] [date] NOT NULL,
 CONSTRAINT [PK_Pilots] PRIMARY KEY CLUSTERED 
(
	[Pilot_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 15-Sep-24 3:12:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[Station_ID] [int] NOT NULL,
	[Station_Name] [varchar](25) NOT NULL,
	[Max_Drones] [int] NOT NULL,
	[Current_Drones] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Station_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accessories]  WITH CHECK ADD  CONSTRAINT [fk_Accessories_Current_Station_ID] FOREIGN KEY([Current_Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Accessories] CHECK CONSTRAINT [fk_Accessories_Current_Station_ID]
GO
ALTER TABLE [dbo].[Accessories]  WITH CHECK ADD  CONSTRAINT [fk_Accessories_Home_Station_ID] FOREIGN KEY([Home_Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Accessories] CHECK CONSTRAINT [fk_Accessories_Home_Station_ID]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Pilot_id_Adresses] FOREIGN KEY([Pilot_ID])
REFERENCES [dbo].[Pilots] ([Pilot_ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Pilot_id_Adresses]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [fk_Checkouts_Accessory_ID] FOREIGN KEY([Accessory_ID])
REFERENCES [dbo].[Accessories] ([Accessory_ID])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [fk_Checkouts_Accessory_ID]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [fk_Checkouts_Drone_ID] FOREIGN KEY([Drone_ID])
REFERENCES [dbo].[Drones] ([Drone_ID])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [fk_Checkouts_Drone_ID]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [fk_Checkouts_Pilot_ID] FOREIGN KEY([Pilot_ID])
REFERENCES [dbo].[Pilots] ([Pilot_ID])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [fk_Checkouts_Pilot_ID]
GO
ALTER TABLE [dbo].[Drones]  WITH CHECK ADD  CONSTRAINT [fk_Drones_Current_Station_ID] FOREIGN KEY([Current_Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Drones] CHECK CONSTRAINT [fk_Drones_Current_Station_ID]
GO
ALTER TABLE [dbo].[Drones]  WITH CHECK ADD  CONSTRAINT [fk_Drones_Home_Station_ID] FOREIGN KEY([Home_Station_ID])
REFERENCES [dbo].[Stations] ([Station_ID])
GO
ALTER TABLE [dbo].[Drones] CHECK CONSTRAINT [fk_Drones_Home_Station_ID]
GO
ALTER TABLE [dbo].[Pilot_Accounts]  WITH CHECK ADD  CONSTRAINT [fk_Pilot_Accounts_Accounts] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Accounts] ([Account_ID])
GO
ALTER TABLE [dbo].[Pilot_Accounts] CHECK CONSTRAINT [fk_Pilot_Accounts_Accounts]
GO
ALTER TABLE [dbo].[Pilot_Accounts]  WITH CHECK ADD  CONSTRAINT [fk_Pilot_Accounts_Pilot] FOREIGN KEY([Pilot_ID])
REFERENCES [dbo].[Pilots] ([Pilot_ID])
GO
ALTER TABLE [dbo].[Pilot_Accounts] CHECK CONSTRAINT [fk_Pilot_Accounts_Pilot]
GO
